.membertab {
    height: 300px;
    width: 500px;
    overflow-y :auto;
}
.membertab table {
    border-collapse: collapse;
}
.membertab table thead {
    background-color: #e7cdfa;
}
.membertab table td {
    border-right: 1px solid #e2dc00;
    width: 150px;
    color: white;
    font-weight: 600;
    height: 21px;
    text-align: center;
}
.membertab table th {
    width: 150px;
    height: 23px;
    text-align: center;
    border: 1px solid #24e2e1;
}