.loginc {
    width: 100%;
    height: 900px;
    /*#C1D7D7*/
    background-color: white;
    text-align: center;
    padding-top: 260px;
}
.loginc div {
    background-color: #ddf2f2;
    margin-left: auto;
    margin-right: auto;
    width: 28%;
    height: 32%;
}
.loginc #outd {
    border: 1px dashed cadetblue;
}
#uid {
    width: 70%;
    height: 43px;
    padding-top: 10px;
}
#uid label {
    float: left;
    margin-left: 17%;
    color: #9fa6cb;
    font-size: 18px;
}
#uid input {
    float: left;
    width:47%;
    height: 20px;
    border: thick;
    border-bottom:1px solid chartreuse;
}
#pwd {
    width: 70%;
    height: 53px;
}
#pwd label {
    margin-left: 17%;
    float: left;
    color: #c0c7ee;
    font-size: 18px;
}
#pwd input {
    float: left;
    width:47%;
    height: 20px;
    border: thin;
    border-bottom:1px solid chartreuse;
}
#sub {
    width: 70%;
    height: 60px;
}
#sub button {
    width: 25%;
    height: 36px;
    background-color:#87fa92;
    font-size: 14px;
    font-weight: 600;
    color: #c3b8ff;
    border: thin dashed #c3b8ff;
    border-radius: 11px;
}
#dtitle {
    width: 100%;
    height: 90px;
    background-color: #e0f5f5;
}