#f {
    margin-left: 100px;
    margin-top: 60px;
    width: 50%;
    height:100%;
    background-color: #98c0e9;
    border: 1px solid #cdff46;
}
.betu {
    width: 100%;
}
.left {
    text-align: left;
}
.left hr {
    border: 1.5px solid #cdff46;
}
.betu label {
    margin-left: 30%;
}
.betu input{
    margin-left: 1%;
}
.betu #file {
    background-color: #cdff46;
}
.button{
    width: 100%;
    text-align: center;
}
.button button{
    background-color: beige;
    width: 60px;
    height: 30px;
    border: hidden;
    font-family: 宋体;
    font-size: 14px;
}

.actmana {
    margin-left: 0.5%;
    padding-left: 40px;
    padding-top: 30px;
    width: 20%;
    height: 870px;
    background-color: #dde2e9;
    float: left;
}
.actmana span {
    text-align: center;
    padding-top: 13px;
    display: block;
    width: 85%;
    height: 30px;
    background-color: gainsboro;
    border: 2px outset;
}
.actmana span a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    font-family: 微软雅黑;
    color: black;
}
.framework {
    float: left;
    width: 75%;
    height: 900px;
}
.framework iframe {
    width: 100%;
    height: 100%;
    border: 1px solid #dde2e9;
}
.framework #ifk {
    width: 40px;
    height: 30px;
    margin-left: 97%;
}